body {
  font-family: 'gill sans', helvetica, verdana, arial, helvetica, sans-serif;
  font-size:87%;
  background-color: #ccc;
  color: #333;
}
.normal {
  font-size: 13px;
  line-height: 18px;
}
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}
p {
  margin:1.0em 0;
}
a {
  color: #EB7906;
  text-decoration:none;
}
h4 {
  margin:0;
}
h4 a {
  color: #999;
  font-weight: normal;
}
.header {
  font-size: 20px;
  margin-bottom: 20px;  
  border-bottom: 1px solid #eee;
}
.post_title {
  color: #EB7906;
}
h2.post_title {
  margin-top:2px;
  margin-bottom:2px;
}
.post_meta {
  color: #999;
}
.post_intro, .post_body {
  line-height:158%;
  font-family:'Lucida Grande','Lucida Sans Unicode',Tahoma,sans-serif;
}
.post {
  margin-bottom: 20px;
}
.comment {
  padding:10px;
  background-color: #eee;
  margin-bottom: 10px;
}
.comment_meta {
  font-size: 1.2em;
}
.comment_body {
  font-family: "lucida grande", verdana, arial;
  padding: 10px 0;
}
.required {
  color: #999;
}

#container {
  background: #fff;
  width: 700px;
  border:1px solid #999;
  margin: 0 auto;
  padding:20px;
}
#footer {
  width: 700px;
  margin: 0 auto;
  padding:1px 20px;
  font-size:0.92em;
  text-align: right;
}
#footer a {
  color: #333;
}


.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

div.uploadStatus {
  margin: 5px;
}

div.progressBar {
  margin: 5px;
}

div.progressBar div.border {
  background-color: #fff;
  border: 1px solid gray;
  width: 100%;
}

div.progressBar div.background {
  background-color: #333;
  height: 18px;
  width: 0%;
}

