<h2>New post</h2>

<%= error_messages_for :post %>

<% form_for(@post) do |f| %>

  <%= render :partial => 'posts/form', :locals => { :f => f } -%>

  <p><%= f.submit "Publish Post" %> or 
  <%= link_to 'Cancel', posts_path %></p>
  
<% end %>
